$white: #FFFFFF;
$yellow-button: #FAFF09;
$black: #000000;
$black-button-text: #F2F2F2;
$gray: #333333;
$gray2: #4F4F4F;
$works-description: #E0E0E0;
$content: #EEEEEE;

$works1-description: #EB5757;
$works2-description: #E7D0D0;
$works3-description: #F9F3E6;
$menu-link: #828282;;

%title-text {
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  line-height: 94px;
  color: $black-button-text;
}

%description-title {
  font-size: 64px;
  line-height: 75px;
  color: #0E0E0E;
}

%description-subtitle {
  font-size: 28px;
  line-height: 33px;
  color: #0E0E0E;
}

%menu-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  color: $menu-link;
}


%section-text {
  font-style: normal;
  font-weight: 300;
  padding-left: 60px;
  position: relative;
  font-size: 38px;
  color: $black;
  &::after {
    position: absolute;
    content: "";
    height: 10px;
    left: 0;
    top: 56px;
    width: 200px;
    background: $black;
  }
}

%button-reset {
  display: block;
  outline: none;
  cursor: pointer;
}

%link-reset {
  text-decoration: none;
  display: block;
}

%line {
  border: 0.5px solid #BDBDBD;
  width: 100%;
}

%social-links {
  display: block;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}

%close-line {
  position: absolute;
  content: "";
  width: 36px;
  height: 4px;
  left: 0;
  background-color: $gray2;
}