@import "../../../styles/vars";

.mainTop {

  max-width: 100%;
  height: 100vh;
  position: relative;

  &__titleContent {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    display: block;
    @extend %title-text;
    margin-bottom: 193px;
    transition: all .3s ease;
  }

  &__title.hidden {
    opacity: 0;
    transition: all .3s ease;
  }

  &__links {
    display: flex;

    > a {
      display: flex;
      color: $white;
      text-decoration: none;
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
      border: 1px solid #C4C4C4;
      width: 348px;
      height: 77px;
      text-align: center;
      background: rgba(17, 17, 17, 0.6);
      transition: background, .3s ease;
      justify-content: center;
      align-items: center;
    }

    > a:hover {
      background: rgba(17, 17, 17, 0.9);
    }

    > a + a {
      margin-left: 50px;
    }
  }

  .linkHidden {
    opacity: 0;
  }

}

.container {
  max-width: calc(100% - 40px);
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 52px;
}

.description {

  &__content {
    padding-top: 37px;
    background: $black-button-text;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    > :nth-child(1) > p {
      max-width: 345px;
    }

    > :nth-child(2) > p {
      max-width: 340px;
    }

    > :nth-child(3) > p {
      max-width: 356px;
    }

    > :nth-child(4) > p {
      max-width: 245px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__item + &__item {
    margin-left: 30px;
  }

  &__title {
    @extend %description-title;
    margin-bottom: 7px;
  }

  &__subtitle {
    @extend %description-subtitle;
    position: relative;
    padding-left: 31px;
    margin-bottom: 16px;

    &::before {
      position: absolute;
      content: '';
      background-image: url("../../../assets/mainPage/rectangle15.png");
      top: 0;
      left: 4px;
      width: 20px;
      height: 20px;
    }
  }

  &__info {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #0E0E0E;
    padding-left: 31px;

  }
}

.projectCost {

  margin-top: 40px;

  &__title {
    @extend %section-text;
    margin-bottom: 80px;
  }

  &__container {
    max-width: 75%;
    margin: 0 auto;
  }

  &__content {
    display: flex;
  }

  &__leftBlock {
    width: 60%;
    margin-right: 25px;
  }

  &__rightBlock {
    width: calc(40% - 25px);
    position: relative;
    padding-bottom: 30px;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 55px;
      bottom: 0;
      border: 0.5px solid #BDBDBD;
    }
  }

  &__leftBlock,
  &__rightBlock {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }

  &__leftBlock > h4 {
    font-style: normal;
    font-weight: normal;
    line-height: 45px;
    font-size: 39px;
    color: $black;
    margin-bottom: 35px;
  }

  &__leftBlock > h5 {
    font-weight: 300;
    font-size: 29px;
    line-height: 38px;
    color: $gray;
    margin-bottom: 105px;
  }

  &__leftBlock > button {
    @extend %button-reset;
    width: 405px;
    height: 75px;
    background: $black;
    color: #FFFFFF;
    font-weight: 300;
    border: 1px solid #000000;
    font-size: 30px;
    transition: all .3s ease;
    &:hover {
      background: #535353;
      border: 1px solid #535353;
    }
  }

  &__rightBlock > span {
    font-size: 29px;
    font-weight: normal;
    color: $black;
    margin-bottom: 20px;
  }

  &__rightBlock > p {
    font-size: 29px;
    font-weight: 300;
    line-height: 147.19%;
    position: relative;
    padding-left: 32px;

    + p {
      margin-top: 25px;
    }

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 14px;
      height: 18px;
      width: 18px;
      background: #0E0E0E;
    }
  }

  .imageWrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    > div {
      width: 100%;
      padding-bottom: 57%;
    }
  }

  &__rightBlock .bigImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
  }

  &__rightBlock .smallImage {
    position: absolute;
    top: 0;
    left: 63%;
    width: 14%;
    height: 20%;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
  }

  &__text {
    width: 340px;
  }

}

//
.services {

  position: relative;
  overflow: hidden;

  > :nth-child(1) {
    position: absolute;
    top: 85px;
    left: 0;
  }

  &__title {
    position: absolute;
    z-index: 5;
    min-width: 100vw;
    @extend %section-text;
  }

  &__container {
    max-width: 91%;
    margin: 0 auto;
  }

  &__wrapper {
    width: 100%;
    box-shadow: 0 0 0 1px #BDBDBD;
  }

  &__content {
    position: relative;
    display: flex;
    width: 100%;
  }

  &__item {
    padding-top: 220px;
    width: calc(100% / 4);
    box-shadow: 0 0 0 1px #E0E0E0;
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
  }

  &__wrapperImage {
    position: relative;
    overflow: hidden;
    margin-bottom: 70px;

    > div {
      width: 100%;
      padding-bottom: 112%;
    }
  }

  &__itemImage {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  &__itemTitle {
    font-weight: 500;
    font-size: 45px;
    line-height: 56px;
    margin-bottom: 23px;
    color: #0E0E0E;
    padding-left: 10px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 20px;
      left: -3px;
      top: -20px;
      height: 20px;
      background-color: $gray2;
    }
  }

  &__itemInfo {
    font-weight: normal;
    font-size: 18px;
    line-height: 147.19%;
    color: $gray2;
    padding-left: 12px;
    max-width: 294px;
  }

}




.line {
  @extend %line;
  position: relative;
  z-index: 1;
}