@import "src/styles/vars";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3px 0 5px;

    &__item {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: block;
        position: relative;
        z-index: 50;
        transition: all .3s linear;
    }

    &__item:hover {
        transform: scale(1.15);
    }

    &__item.dropdown {
        background-image: url("../../../assets/mainPage/menu-btn.svg");
        width: 36px;
        height: 32px;

        &[data-status="opened"] {
            background-image: url("../../../assets/mainPage/close.svg");
            width: 51px;
            height: 51px;
        }
    }

    &__item.phone {
        background-image: url("../../../assets/mainPage/header-phone.svg");
        height: 29px;
        width: 29px;
    }

    &__logo {
        position: relative;
        z-index: 50;
        transform: translateY(0);

        &[data-status="opened"] {
            transform: translateY(60%);
            transition: all .4s ease;
        }
    }

    &__logoLink {
        display: block;
    }

}

.modal {
    visibility: hidden;
    transform: translateY(-100%);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(19, 19, 19, 0.9);
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .4s ease;
    }
}


.menu {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 90px;

    &__item {
        @extend %menu-link;
        margin: 0 auto 15px;
        padding: 10px 40px;
        transition: box-shadow, width .4s ease;
    }

    &__item.activeLink {
        box-shadow: inset 0 0 0 1px $black-button-text;
        width: fit-content;
        font-weight: normal;
        color: $black-button-text;
    }

    &__item:hover {
        box-shadow: inset 0 0 0 1px $black-button-text;
        width: fit-content;
        font-weight: normal;
        color: $black-button-text;
    }
}

.socialNetwork {

    display: flex;
    width: 600px;
    margin-top: 20px;
    justify-content: space-between;

    > :nth-child(1),
    > :nth-child(5) {
        display: flex;
        background-color: #BDBDBD;
        border-radius: 5px;
        height: 41px;
        width: 41px;
        justify-content: center;
        align-items: center;
    }

    &__links {

    }

    &__icon {
        @extend %social-links;
    }
}


